/*
    Extra small devices (portrait phones, less than 576px)
    No media query for `xs` since this is the default in Bootstrap
*/
html {
    scroll-behavior: smooth;
}
body { 
    padding-top: 70px;
    background-color: #f9f8f6 !important;
    font-family: 'Anonymous Pro', monospace !important;
}

#home {
    padding-top: 50px;
    padding-bottom: 65px;
}
#splash{
    object-fit: fill;
}

#about {
    padding-top: 75px;
    margin-bottom: 20px;
    height: 800px;
}

/*
    Experience Section & Components CSS
*/
    #experience{
        padding-top: 100px;
    }
    .date{
        text-align: center;
        padding: 20px 30px;
        background-color: #EF233B;
        position: relative;
        border-radius: 6px;
        margin: 10px 0px;
    }
    .carot-top{
        border-color: transparent transparent #EF233B transparent;
        border-style: solid;
        border-width: 9px;
        width: 0;
        height: 0;
        left: 50%;
        top: -10px;;
        position: absolute;
    }
    .carot-bottom {
        border-color: #EF233B  transparent transparent transparent;
        border-style: solid;
        border-width: 9px;
        width: 0;
        height: 0;
        left: 50%;
        bottom: -10px;
        position: absolute;
    }
    .carot-bottom::after{
        bottom: 100%;
        left: 50%;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: blue;
        border-bottom-color: #EF233B;
        border-width: 10px;
        margin-left: -10px;
    }
    .work{
        margin: 10px 0px;
    }
/*
    Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {

}

/*
    Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {
    /*
        Experience Section & Components CSS
    */
        .date{
            text-align: center;
            padding: 20px 30px;
            background-color: #EF233B;
            position: relative;
            border-radius: 6px;
        }
        .carot-top{
            display: none;
        }
        .carot-bottom{
            display: none;
        }
        .timeline {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
        }
        .timeline::after{
            content: " ";
            position: absolute;
            width: 6px;
            background-color: #EF233B;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }
        .work{
            padding: 10px 40px;
            position: relative;
            width: 50%;
        }
        .work::after {
            content: " ";
            position: absolute;
            width: 25px;
            height: 25px;
            right: -8px;
            background-color: #EF233B;
            border: 4px solid #ff9f55;
            top: 15px;
            border-radius: 50px;
            z-index: 1
        }
        .left {
            left: 4px;
        }
        .right {
            /*left: 50%;*/
        }
        .left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent #EF233B;
        }
        .work.right::before {
            content: " ";
            width: 0;
            height: 0;
            position: absolute;
            top: 22px;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0px;
            border-color: transparent #EF233B transparent transparent;
            /*width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid blue;*/
        }
        .right::after {
            left: -13px;
        }
        .content {
            padding: 20px 30px;
            background-color: green;
            position: relative;
            border-radius: 6px;
        }
}

/*
    Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {
    
}

/*
    Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {

}